/* Contacts */
body {
    overflow: hidden;
}

#background_img {
    width: 48.2cm;
    height: 24.4cm;
    filter: brightness(65%);
}

.contact_details {
    display: flex;
    gap: 3.8cm;
    margin-left: 10cm;
    margin-top: -20cm;
    color: aliceblue;
    position: absolute;
}

.kitisu_contact {
    border: solid 4px white;
    width: 10cm;
    height: 12cm;
    padding-left: 1cm;
    font-size: 20px;
    font-weight: 700;

}

.kilimani_contact {
    border: solid 4px white;
    width: 10cm;
    height: 15cm;
    padding-left: 1cm;
    font-size: 20px;
    font-weight: 700;
}

#contact_logo {
    width: 4cm;
    height: 4cm;
    padding-left: 20cm;
    margin-top: -39cm;

}

.contact_logo {
    margin-top: -16cm;
}

#ankole_links {
    color: antiquewhite;
    text-decoration: none;
}

.navigation {
    border: solid 1px black;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 0.7cm;
    text-decoration: none;
    width: 22cm;
    word-spacing: 1cm;
    font-size: 20px;
    position: absolute;

    position: fixed;
    margin-top: -3.5cm;
    margin-left: 9cm;

}
.options{
    display: flex;
    list-style: none;
    gap: 10%;
    margin-top: 3%;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.menu-bar{
    position: relative;
    display: inline-block;
}
.openinghhours{
    position: relative;
    display: inline-block;
}

.openinghhours .opening{
    visibility: hidden;
    width: 170px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    margin-bottom: 50px;
}

.openinghhours:hover .opening{
    visibility: visible;
}

#home {
    color: white;
    text-decoration: none;
}

#menu {
    color: white;
    text-decoration: none;
}

#review {
    color: white;
    text-decoration: none;
}

#event {
    color: white;
    text-decoration: none;
}

#live {
    color: white;
    text-decoration: none;
}

#contact {
    color: white;
    text-decoration: none;
}

#reservation {
    color: white;
    text-decoration: none;
    border: solid 1px;
    padding: 0.25cm;
    border-radius: 20px;
    background-color: grey;
}

@media screen and (max-width: 480px){
    body {
        /* overflow: hidden; */
    }
    
    #background_img {
        width: 10.7cm;
        height: 34.4cm;
        filter: brightness(65%);
    }
    
    .contact_details {
        display: block;
        /* gap: 1cm; */
        margin-left: 1.5cm;
        margin-top: -34cm;
        color: white;
        position: absolute;
    }
    
    .kitisu_contact {
        border: solid 4px white;
        width: 6cm;
        height: 6.3cm;
        padding-left: 0.8cm;
        font-size: 14px;
        font-weight: 700;
    
    }
    
    .kilimani_contact {
        border: solid 4px white;
        width: 6cm;
        height:8.8cm;
        padding-left: 0.8cm;
        font-size: 14px;
        font-weight: 700;
    }
    
    #contact_logo {
        width: 2cm;
        height: 2cm;
        padding-left: 2cm;
        margin-top: -22cm;
    
    }
    
    .contact_logo {
        margin-top: -16cm;
    }
    
    #ankole_links {
        color: antiquewhite;
        text-decoration: none;
    }
    
    .navigation {
        border: solid 1px black;
        background-color: black;
        border-radius: 50px;
        color: white;
        padding: 0.2cm;
        text-decoration: none;
        width: 9.8cm;
        word-spacing: 0.05cm;
        font-size: 14px;
        position: absolute;
    
        position: fixed;
        margin-top: -18.5cm;
        margin-left: 0.1cm;
    
    }
    
    #home {
        color: white;
        text-decoration: none;
    }
    
    #menu {
        color: white;
        text-decoration: none;
    }
    
    #review {
        color: white;
        text-decoration: none;
    }
    
    #event {
        color: white;
        text-decoration: none;
    }
    
    #live {
        color: white;
        text-decoration: none;
    }
    
    #contact {
        color: white;
        text-decoration: none;
    }
    
    #reservation {
        color: white;
        text-decoration: none;
        border: solid 1px;
        padding: 0.01cm;
        border-radius: 20px;
        background-color: grey;
    }
}

@media screen and (min-width: 481px) and(max-width: 600px){
    body{
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        height: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
}
