/* Home */
body {
    overflow: hidden;
}
#logo-img{
    width: 6cm;
    margin-left: 19cm;
    margin-top: 1cm;
    z-index: 1;  
    position: absolute;
    position: fixed;
}


.navigation {
    border: solid 1px black;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 0.8cm;
    text-decoration: none;
    width: 22cm;
    word-spacing: 1cm;
    font-size: 20px;
    position: absolute;
    position: fixed;
    margin-top: 19cm;
    margin-left: 10cm;
    z-index: 1;

}

.options{
    display: flex;
    list-style: none;
    gap: 10%;
    margin-top: 3%;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.menu-bar{
    position: relative;
    display: inline-block;
}
.openinghhours{
    position: relative;
    display: inline-block;
}

.openinghhours .opening{
    visibility: hidden;
    width: 190px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    /* margin-bottom: 50px; */
    bottom: 100%;
}

.openinghhours:hover .opening{
    visibility: visible;
}
#home {
    color: white;
    text-decoration: none;
}

#menu {
    color: white;
    text-decoration: none;
}

#review {
    color: white;
    text-decoration: none;
}

#event {
    color: white;
    text-decoration: none;
}

#live {
    color: white;
    text-decoration: none;
}

#contact {
    color: white;
    text-decoration: none;
}

#reservation {
    color: white;
    text-decoration: none;
    border: solid 1px;
    padding: 0.2cm;
    border-radius: 20px;
    background-color: grey;
}
h1{
    font-size: 122px;
    color: gray;
    text-align: center;
    position: absolute;
    margin-left: 16.5cm;
    font-family: serif;
}

 #welcome{
    margin-top: 1cm;
    margin-left:1cm;
 }
 #discoverimg{
    height: 26cm;
    width: 49cm;
 }
 #discover{
    margin-top: -19cm;
 }
 #experience{
    margin-top: -22cm;
    margin-left: 13cm;
 }
 #taste{
    margin-top: -25cm;
    margin-left: 20cm;
 }
 #savour{
    margin-top: -23cm;
 }
 

 .background_imgs{ 
    position: absolute;
    animation: fade 20s infinite forwards;
    transition: opacity 1s;

}
.background_imgs:nth-child(1){
    animation-delay: 0s;
}
.background_imgs:nth-child(2){
    animation-delay: 5s;
}
.background_imgs:nth-child(3){
    animation-delay: 10s;
}
.background_imgs:nth-child(4){
    animation-delay: 15s;
}
.background_imgs:nth-child(5){
    animation-delay: 20s;
}

 @keyframes fade {
    0%{
        opacity:0;
    }  
    10%{
        opacity: 1;
    }
    30%{
        opacity:1;
}
    40%{
        opacity:0;
    }
    100%{
        opacity:0;
    } 
   
}
.fade-element{
    opacity: 0;
    animation: fadeInOut 2s infinite;
}  



@media screen and (max-width: 480px){
    body {
        overflow: block;
    }
    #logo-img{
        width: 3cm;
        margin-left: 1.9cm;  
    }
    
    
    .navigation {
        border: solid 1px black;
        background-color: black;
        border-radius: 50px;
        color: white;
        padding: 0.8cm;
        text-decoration: none;
        width: 10cm;
        word-spacing: 0.1cm;
        font-size: 15px;
        position: absolute;
        position: fixed;
        margin-top: -5.5cm;
        margin-left: 0cm;
        z-index: 1;
    
    }
    
    #home {
        color: white;
        text-decoration: none;
    }
    
    #menu {
        color: white;
        text-decoration: none;
    }
    
    #review {
        color: white;
        text-decoration: none;
    }
    
    #event {
        color: white;
        text-decoration: none;
    }
    
    #live {
        color: white;
        text-decoration: none;
    }
    
    #contact {
        color: white;
        text-decoration: none;
    }
    
    #reservation {
        color: white;
        text-decoration: none;
        border: solid 1px;
        padding: 0.2cm;
        border-radius: 20px;
        background-color: grey;
    }
    h1{
        font-size: 150px;
        color: gray;
        text-align: center;
        position: absolute;
        margin-left: 16.5cm;
        font-family: serif;
    }
    
     #welcome{
        margin-top: -2cm;
        margin-left: 2cm;
     }
     #discoverimg{
        height: 10.1cm;
        width: 18cm;
     }
     #discover{
        margin-top: -19cm;
     }
     #experience{
        margin-top: -22cm;
        margin-left: 13cm;
     }
     #taste{
        margin-top: -25cm;
        margin-left: 20cm;
     }
     #savour{
        margin-top: -23cm;
     }
     #welcomeimg{
        height: 10.1cm;
        width: 18cm;
     }
     #savourimg{
        width: 10.1cm;
        height: 18cm;
     }
     
    
     .background_imgs{ 
        position: absolute;
        animation: fade 20s infinite forwards;
        transition: opacity 1s;
    
    }
    .background_imgs:nth-child(1){
        animation-delay: 0s;
    }
    .background_imgs:nth-child(2){
        animation-delay: 5s;
    }
    .background_imgs:nth-child(3){
        animation-delay: 10s;
    }
    .background_imgs:nth-child(4){
        animation-delay: 15s;
    }
    .background_imgs:nth-child(5){
        animation-delay: 20s;
    }
    
     @keyframes fade {
        0%{
            opacity:0;
        }  
        10%{
            opacity: 1;
        }
        30%{
            opacity:1;
    }
        40%{
            opacity:0;
        }
        100%{
            opacity:0;
        } 
       
    }
    .fade-element{
        opacity: 0;
        animation: fadeInOut 2s infinite;
    }   
}

@media screen and (min-width: 481px) and(max-width: 600px){
    body{
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        height: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
}



