/* Menu */
body {
    overflow: hidden;
}

.menu_details {
    display: flex;
}

.menu_background {
    background-image: url(images/backgroungimg4.png);
    background-color: aliceblue;
    height: 25cm;
    width: 24.1cm;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    position: relative;
    font-size: 20px;
    font-weight: 800;

}

.menu_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

h2 {
    color: rgb(214, 29, 29);

}

.kilimani_menu {
    background-image: url(images/imag.png);
    background-color: aliceblue;
    height: 25cm;
    width: 24.1cm;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    position: relative;
    font-size: 20px;
    font-weight: 800;
}

.kilimani_text_menu {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 800;
}

#menu_logo {
    width: 5cm;
    position: absolute;
    margin-top: -22cm;
    margin-left: 21.5cm;
}

#menu_link {
    color: aliceblue;
    text-decoration: none;
}

.navigation {
    border: solid 1px black;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 0.8cm;
    text-decoration: none;
    width: 23cm;
    word-spacing: 1cm;
    font-size: 20px;
    position: absolute;
    margin-top: -4.5cm;
    margin-left: 11cm;

}

.options{
    display: flex;
    list-style: none;
    gap: 10%;
    margin-top: 3%;
}

a{
    text-decoration: none;
    color: aliceblue;
}
.menu-bar{
    position: relative;
    display: inline-block;
}
.openinghhours{
    position: relative;
    display: inline-block;
}

.openinghhours .opening{
    visibility: hidden;
    width: 190px;
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    /* margin-bottom: 50px; */
    bottom: 100%;
}

.openinghhours:hover .opening{
    visibility: visible;
}

#home {
    color: white;
    text-decoration: none;
}

#menu {
    color: white;
    text-decoration: none;
}

#review {
    color: white;
    text-decoration: none;
}

#event {
    color: white;
    text-decoration: none;
}

#live {
    color: white;
    text-decoration: none;
}

#contact {
    color: white;
    text-decoration: none;
}

#reservation {
    color: white;
    text-decoration: none;
    border: solid 1px;
    padding: 0.2cm;
    border-radius: 20px;
    background-color: grey;
}


@media screen and (max-width:480px) {
    body {
        overflow: hidden;
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        height: 100%;
    }
    
    .menu_details {
        display: flex;
        
    
    }
    
    .menu_background {
        background-image: url(images/backgroungimg4.png);
        background-color: aliceblue;
        height: 18cm;
        width: 24.1cm;
        background-size: cover;
        background-position: center;
        color: aliceblue;
        position: relative;
        font-size: 20px;
        font-weight: 800;
    
    }
    
    .menu_text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2cm;
        transform: translate(-50%, -50%);
        color: aliceblue;
    }
    
    h2 {
        color: rgb(214, 29, 29);
    
    }
    
    .kilimani_menu {
        background-image: url(images/imag.png);
        background-color: aliceblue;
        height: 18cm;
        width: 24.1cm;
        background-position: center;
        background-size: cover;
        color: aliceblue;
        position: relative;
        font-size: 20px;
        font-weight: 800;
    }
    
    .kilimani_text_menu {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        font-weight: 800;
    }
    
    #menu_logo {
        width: 4cm;
        position: absolute;
        margin-top: -17cm;
        margin-left: 3.1cm;
    }
    
    #menu_link {
        color: aliceblue;
        text-decoration: none;
    }
    
    .navigation {
        border: solid 1px black;
        background-color: black;
        border-radius: 50px;
        color: white;
        padding: 0.5cm;
        text-decoration: none;
        width: 8.85cm;
        word-spacing: 0.1cm;
        font-size: 12px;
        position: absolute;
        margin-top: -4.5cm;
        margin-left: 0cm;
    
    }
    
    #home {
        color: white;
        text-decoration: none;
    }
    
    #menu {
        color: white;
        text-decoration: none;
    }
    
    #review {
        color: white;
        text-decoration: none;
    }
    
    #event {
        color: white;
        text-decoration: none;
    }
    
    #live {
        color: white;
        text-decoration: none;
    }
    
    #contact {
        color: white;
        text-decoration: none;
    }
    
    #reservation {
        color: white;
        text-decoration: none;
        border: solid 1px;
        padding: 0.1cm;
        border-radius: 20px;
        background-color: grey;
    }
    
}



@media screen and (min-width: 481px) and(max-width: 600px){
    body{
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        height: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    body{
        margin: 0;
        padding: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }
}